.TypographyOverview {
  height: 100%;
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: calc(var(--radius) * 2);

  overflow-y: scroll;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.TypographyStepCard {
  .TypographyStepCard__header {
    color: var(--muted-foreground);
  }
}
